:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 235, 241, 250; /* Light blue-gray */
  --background-end-rgb: 255, 255, 255;   /* White */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

.text-balance {
  text-wrap: balance;
}